<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30">
    <Properties>
        <Property name="pattern">%d{ISO8601} %-5p - [%t] %-26.26c{1} - %X{tag} - %m\n</Property>
    </Properties>
    <Appenders>
        <Console name="StdOut" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}" />
        </Console>
        <RollingFile name="RollingFile" fileName="/var/logs/tachikoma/${name}.log"
            filePattern="/var/logs/tachikoma/${name}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${pattern}" />
            <Policies>
                <TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
                <SizeBasedTriggeringPolicy size="100 MB" /> <!-- Or every 100 MB -->
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="StdOut" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>