<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" packages="com.sourceforgery.tachikoma.logging">
    <Properties>
        <Property name="pattern">%d{ISO8601} %-5p - [%t] %-26.26c{1} - %X{tag} - %m</Property>
        <Property name="name">postfix-utils</Property>
    </Properties>
    <Appenders>
        <Syslog name="syslog" host="localhost" port="514" protocol="TCP">
            <Rfc5424PatternLayout appName="tachikoma/postfix" mdcId="tachikoma" newLine="true" pattern="${pattern}" />
        </Syslog>
	<Console name="StdOut" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}\n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="syslog" />
            <AppenderRef ref="StdOut" />
        </Root>
        <!-- <Logger name="smtp.incoming.debug" level="trace" />-->
    </Loggers>
</Configuration>