<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30">
    <Properties>
        <Property name="pattern">%d{ISO8601} %-5p - [%t] %-26.26c{1} - %X{tag} - %m\n</Property>
        <Property name="name">postfix-utils</Property>
    </Properties>
    <Appenders>
        <Syslog name="syslog" appName="tachikoma" newLine="true" host="localhost" port="514" protocol="TCP" />
        <Console name="StdOut" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="syslog" />
            <AppenderRef ref="StdOut" />
        </Root>
        <!-- <Logger name="smtp.incoming.debug" level="trace" />-->
    </Loggers>
</Configuration>