<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30">
    <Properties>
        <Property name="pattern">%d{ISO8601} %-5p - [%t] %-26.26c{1} - %X{tag} - %m\n</Property>
        <Property name="name">tachikoma-webserver</Property>
    </Properties>
    <Appenders>
        <Syslog name="syslog" format="RFC5424" appName="tachikoma/webserver" newLine="true" host="localhost"
                port="514" protocol="TCP" mdcId="tachikoma" />
        <Console name="StdOut" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="syslog" />
            <AppenderRef ref="StdOut" />
        </Root>
        <!--<Logger name="sql.log_everything" level="trace" />-->
    </Loggers>
</Configuration>