<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" packages="com.sourceforgery.tachikoma.logging">
    <Properties>
        <Property name="pattern">%-5p - [%t] %-26.26c{1} - %m</Property>
        <Property name="name">tachikoma-webserver</Property>
    </Properties>
    <Appenders>
        <Syslog name="syslog" host="localhost" port="514" protocol="TCP">
            <Rfc5424PatternLayout appName="tachikoma/webserver" mdcId="tachikoma" pattern="${pattern}" />
        </Syslog>

        <Console name="StdOut" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} ${pattern}\n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="syslog" />
            <AppenderRef ref="StdOut" />
        </Root>
        <!--<Logger name="sql.log_everything" level="trace" />-->
        <Logger name="com.linecorp.armeria.common.Flags" level="warn"/>
    </Loggers>
</Configuration>