{
    "option_settings": [
	{
	    "namespace": "aws:autoscaling:launchconfiguration",
	    "option_name": "InstanceType",
	    "value": "t2.micro"
	},
	{
	    "namespace": "aws:ec2:vpc",
	    "option_name": "VPCId",
	    "value": "vpc-3fd61a59"
	},
	{
	    "namespace": "aws:elasticbeanstalk:application",
	    "option_name": "Application Healthcheck URL",
	    "value": "/health/"
	},
	{
	    "namespace": "aws:elasticbeanstalk:environment:process:default",
	    "option_name": "HealthCheckPath",
	    "value": "/health/"
	},
	{
	    "namespace": "aws:elasticbeanstalk:environment:process:default",
	    "option_name": "Protocol",
	    "value": "TCP"
	},
	{
	    "namespace": "aws:ec2:vpc",
	    "option_name": "",
	    "value": ""
	},
	{
	    "namespace": "aws:ec2:vpc",
	    "option_name": "",
	    "value": ""
	},
	{
	    "namespace": "aws:ec2:vpc",
	    "option_name": "",
	    "value": ""
	}
    ]
}